h1{
    display: block;
    width: fit-content;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    outline: 1px solid var(--color-blanco);
    font-size: 1.8rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1.5rem auto;
}

.ruta-navegacion {
    list-style: none;
    padding: 3vw 3vw 0 3vw;
    display: flex;
}

.ruta-navegacion li::after {
    content: ">";
    margin: 0 10px;
}

.ruta-navegacion li:last-child::after {
    content: "";
}

.ruta-navegacion li a {
    color: var(--color-blanco);
    text-decoration: none;
}

.ruta-navegacion li a:hover{
    text-decoration: underline;
}

.descripcion-disco{
    text-align: justify;
    padding: 0 3vw 10px 3vw;
}

.catalogo-canciones{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap: 1rem;
}

.contenido-cancion{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.contenido-cancion video{
    outline: 1px solid var(--color-blanco);
    width: 45vw;
    max-width: 410px;
    min-width: 250px;
    height: auto;
    max-height: 230px;
    border-radius: 10px;
}

.tarjeta-cancion{
    outline: 1px solid var(--color-blanco);
    display: inline-flex;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
}

.tarjeta-cancion img{
    width: auto;
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

.detalles-cancion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalles-cancion ul li{
    display: flex;
    align-items: center;
}

.detalles-cancion ul li:not(:last-child){
    margin-bottom: 10px;
}

.detalles-cancion ul li img{
    height: 25px;
    width: 25px;
    margin-right: 8px;
    object-fit: contain;
}

/************************************/
/***   DISEÑO PARA TABLETAS 768   ***/
/************************************/

@media only screen and (max-width: 768px){
    .contenido-cancion{
        display: flex;
        flex-direction: column;
    }

    .contenido-cancion video{
        margin: 0 auto;
        width: 80vw;
    }
}


/************************************/
/***   DISEÑO PARA MOVILES 480    ***/
/************************************/

@media only screen and (max-width: 480px){
    .catalogo-canciones{
        gap: 5rem;
        align-items: center;
    }

    .contenido-cancion{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    } 

    .contenido-cancion video{
        width: 100%;
        min-width: 250px;
        height: auto;
        max-height: 230px;
        border-radius: 10px;
    }
    
    .tarjeta-cancion{
        flex-wrap: wrap;
        justify-content: center;
    }

    .tarjeta-cancion > img{
        flex: 0 1 auto;
        max-width: 260px;
        width: 100%;
        margin: 0 auto;
    }
}