body{
    background-color: var(--color-principal);
}

.fotografia-inicio{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.seccion-portada {
    position: relative;
    display: inline-block;
    width: 100%;
}

.seccion-portada h1 {
    font-family: 'Stickypops';
    position: absolute;
    top: 13%;
    left: 50%;
    font-size: 3rem;
    letter-spacing: 5px;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
    text-align: center;
    white-space: nowrap;
}

.contenido-seccion img{
    max-width: 320px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 10px;
    outline: 3px solid var(--color-blanco);
}

.seccion-principal{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 3rem 2rem;
}

.contenido-seccion{
    display: flex;
}

.parrafo-descripcion{
     width: auto;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     margin-left: 20px;
}

.parrafo-descripcion p{
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.plataformas-musica{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.plataformas-musica a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 60px;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--color-principal);
    box-shadow: 0 0.25rem 1rem var(--color-negro);
    transition: transform 0.2s;
}

.plataformas-musica a:hover{
    transform: translateY(-10px);
}

.plataformas-musica a img{
    height: 35px;
    vertical-align: middle;
    width: 120px;
}



/************************************/
/***   DISEÑO PARA TABLETAS 768   ***/
/************************************/

@media only screen and (max-width: 768px){
    .seccion-portada h1 {
        font-size: 28px;
        top: 10%;
    }

    .parrafo-descripcion p{
        font-weight: 300;
        font-size: 14px;
        text-align: justify;
        letter-spacing: 0.5px;
    }

    .contenido-seccion{
        display: flex;
        flex-direction: column;
    }

    .contenido-seccion img{
        width: 280px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}


/************************************/
/***   DISEÑO PARA MOVILES 480    ***/
/************************************/

@media only screen and (max-width: 480px){
    .seccion-portada h1 {
        font-size: 20px;
        top: 10%;
    }

    .parrafo-descripcion{
        margin-left: 0;
    }

    .plataformas-musica{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plataformas-musica a:hover{
        transform: translateX(10px);
    }

    .contenido-seccion img{
        width: 200px;
    }
}