@font-face {
    font-family: 'Montserrat';
    src: url(../fuentes/montserrat.ttf);
}

@font-face {
    font-family: 'Stickypops';
    src: url(../fuentes/stickypops.otf);
}

:root {
    --font-stickypops: 'Stickypops', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;
    --color-principal: #4C0017;
    --color-secundario: #2a0015;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background: var(--color-secundario);
    color: var(--color-blanco);
    font-family: var(--font-monserrat);
    padding-top: 70px;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-family: var(--font-stickypops);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 5px;
}

.contenedor-menu{
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    padding: 0;
    background-color: var(--color-principal);
}

.menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 10px 20px;
    background-color: var(--color-principal);
}

.logo{
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu .barra-navegacion ul li{
    position: relative;
    float: left;
    margin-left: 5px;
}

.menu .barra-navegacion ul li:first-child{
    margin-left: 0;
}

.menu .barra-navegacion ul li a{
    font-size: 16px;
    text-align: left;
    padding: 10px 15px;
    color: var(--color-blanco);
    display: block;
    transition: background-color 0.4s ease;
    border-radius: 5px;
}

.menu .barra-navegacion ul li a:hover{
    background-color: var(--color-blanco);
    color: var(--color-principal);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 1rem 0;
}

.redes-sociales {
    display: flex;
    margin-top: auto;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
    background-color: var(--color-negro);
}

.redes-sociales p {
    color: var(--color-blanco);
    align-items: flex-start;
    margin-right: auto;
    padding: 0.5rem;
    font-style: italic;
}

.redes-sociales img{
    height: 40px;
    transition: transform 0.2s;
}

.redes-sociales img:hover{
    transform: scale(0.8);
}

/************************************/
/***   DISEÑO PARA TABLETAS 768   ***/
/************************************/

@media only screen and (max-width: 768px){
    .menu{
        padding: 10px 20px;
        flex-wrap: wrap;
    }

    .menu label{
        display: initial;
    }

    .menu .barra-navegacion{
        position: relative;
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: var(--color-principal);
    }

    .menu .barra-navegacion ul li{
        width: 100%;
        padding: 0 0;
        margin-top: 10px;
        margin-left: 0;
    }

    .texto-index{
        font-size: 0.85rem;
    }

    #menu:checked + label + .barra-navegacion {
        display: flex;
    }

    .redes-sociales{
        justify-content: flex-end;
        padding-right: 2rem;
        font-size: 0.8rem;
        gap: 0.8rem;
    }

    .redes-sociales img{
        height: 35px;
    }
}


/************************************/
/***   DISEÑO PARA MOVILES 480    ***/
/************************************/

@media only screen and (max-width: 480px){
    .titulo{
        font-size: 2rem;
    }

    .redes-sociales{
        padding-right: 2rem;
        gap: 0.5rem;
    }

    .redes-sociales img{
        height: 30px;
    }
    .redes-sociales p{
        font-size: 0.65rem;
    }
}