body{
    background-color: #2a0015;
}

.subtitulo{
    text-align: left;
    padding: 20px 0 0 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.seccion-integrantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
    gap: 1.25rem;
}

.tarjeta-integrante{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
}

.tarjeta-integrante button{
    display: inline-block;
    position: absolute;
    background-color: var(--color-principal);
    color: var(--color);
    border: 1px solid var(--color-blanco);
    font-size: 16px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    align-self: flex-end;
    bottom: 70px;
    right: 52px;
    z-index: 1;
}

.tarjeta-integrante img{
    margin: 0;
    height: 150px;
    width: auto;
    background-color: var(--color-principal);
    outline: 1px solid var(--color-blanco);
    border-radius: 15px;
    align-self: center;
}

.informacion-integrante{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    outline: 1px solid var(--color-blanco);
    padding: 10px;
    border-radius: 10px;
    min-width: 240px;
    text-align: center;
}

.nombre-integrante{
    font-weight: 700;
    font-size: 16px;
}

.rol-integrante{
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-weight: 200;
}

.ventana-emergente {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 100;
}

.contenedor-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
    background: var(--color-blanco);
    width: clamp(300px, 70%, 600px);
    max-height: 80vh;
    overflow-y: auto;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, transform .3s;
    z-index: 101;
    margin-top: 30px;
}

.ventana-emergente.show { 
    display: block; 
}

.contenedor-emergente.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

.cerrar-ventana {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.contenido-ventana {
    margin-bottom: 1rem;
    line-height: 1.4;
    color: var(--color-negro);
    text-align: justify;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
}
